header { grid-area: header;}
nav { grid-area: nav;}
main { grid-area: main;}
.profile-pic {grid-area: profile-pic;}
.project-list {grid-area: project-list;}
footer {grid-area: footer;}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(247, 243, 243);
}

.container {
    background: white;
    border: 1px solid rgb(180, 188, 197);
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main profile-pic"
    "project-list project-list project-list"
    "footer footer footer"
}

h1 {
    padding: 10px;
}

nav {
    background-color: white;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #36abc9;
}

.project-description h3 a:hover {
    color: #C95436;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-pic {
    padding: 10px;
}

.profile-pic img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid #C95436;
    box-shadow: 5px 5px 5px rgb(172, 165, 165)
}

.project-list {
    /*border-top: 1px solid slategray;*/
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.project-list h2 {
    text-align: center;
}

.project {
    display: flex;
    padding: 10px;
}

.project img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 5px solid #36abc9;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(172, 165, 165);
}

.project-description {
    padding-left: 20px;
}

footer {
    color: rgb(95, 95, 95);
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "profile-pic profile-pic profile-pic"
        "main main main"
        "project-list project-list project-list"
        "footer footer footer"
    }

    header {
        display: flex;
        justify-content: center;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    nav a {
        text-align: center;
        padding: 10px;
    }

    main h2 {
        text-align: center;
    }
    
    .profile-pic {
        display: flex;
        justify-content: center;
    }
    
    .profile-pic img {
        max-height: 200px;
        max-width: 200px;
    }

    .project-list .project{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-description h3, p {
        text-align: center;
    }
}